.todo-page__title {
    text-align: center;
    margin: 1rem 0 2.5rem 0;

    color: var(--md-sys-color-on-surface);
    font: var(--md-text-headline-large);
    letter-spacing: var(--md-text-headline-large-letter-spacing);
}

/* ------------------------------ */
/* FORM */
/* ------------------------------ */

.todo-page__form {
    margin-bottom: 1.25rem;
}

.todo-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.todo-form__input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 0.625rem;

    border-radius: 0.25rem;
    border: 1px solid var(--md-sys-color-outline);
}

.todo-form__input-wrapper:hover {
    border-color: var(--md-sys-color-on-surface);
}

.todo-form__input-wrapper:focus-within {
    border: 3px solid var(--md-sys-color-primary);
}

.todo-form__input {
    height: 3rem;
    padding-left: 1rem;
    border: none;
    background: none;
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
    color: var(--md-sys-color-on-surface);
}

.todo-form__input::placeholder {
    color: var(--md-sys-color-on-surface-variant);
}

.todo-form__input:focus {
    outline: none;
}

.todo-form__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5rem;
}

.todo-form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    padding: 1rem 1.5rem;

    border: none;
    border-radius: 1rem;

    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    font: var(--md-text-title-medium);
    letter-spacing: var(--md-text-title-medium-letter-spacing);
    position: relative;
    overflow: hidden;
}

.todo-form__button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}

.todo-form__button:hover::before {
    opacity: 0.08;
}

.todo-form__button:focus-within::before {
    opacity: 0.10;
    border: 3px solid var(--md-sys-color-secondary);
    border-radius: 1.125rem;
}

/* ------------------------------ */
/* TODO ITEM */
/* ------------------------------ */

.todo-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 3.5rem;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

.todo-item__text {
    flex: 1;
    color: var(--md-sys-color-on-surface);
    font: var(--md-text-body-large);
    letter-spacing: var(--md-text-body-large-letter-spacing);
}

/* Checkbox */

.todo-item__checkbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.25rem 0.25rem 0;
}

.todo-item__checkbox-layer {
    display: flex;
    padding: 0.6875rem;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
}

.todo-item__checkbox {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.125rem;
    border: 2px solid var(--md-sys-color-on-surface-variant);
    cursor: pointer;
}


.todo-item__checkbox:checked {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border: none;
}

/* Item options */

.todo-item__options-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5rem;
    height: 1.5rem;

    background: none;
    border: none;
    cursor: pointer;
}

.todo-item__options-btn svg {
    fill: var(--md-sys-color-on-surface-variant);
}

/* ------------------------------ */
/* FILTERS */
/* ------------------------------ */

.todo-filters {
    display: flex;
    width: 22.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: -0.0625rem;
}

.todo-filters__button-wrapper {
    display: flex;
    height: 3rem;
    padding: 0.25rem 0;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

.todo-filters__button-wrapper:first-child > button  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    padding: 0.625rem 0.75rem;
    gap: 0.5rem;

    border-radius: 6.25rem 0 0 6.25rem;
    border: 1px solid var(--md-sys-color-outline);
    background: none;

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

.todo-filters__button-wrapper:last-child > button  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    padding: 0.625rem 0.75rem;
    gap: 0.5rem;

    border-radius: 0 6.25rem 6.25rem 0;
    border: 1px solid var(--md-sys-color-outline);
    background: none;

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

.todo-filters__button-wrapper > button  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    padding: 0.625rem 0.75rem;
    gap: 0.5rem;

    border: 1px solid var(--md-sys-color-outline);
    background: none;

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    color: var(--md-sys-color-on-surface);
    text-align: center;
}

.todo-filters__button-wrapper:first-child > .todo-filters__button--active {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.todo-filters__button-wrapper:last-child > .todo-filters__button--active {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.todo-filters__button-wrapper > .todo-filters__button--active {
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.todo-filters__button__icon-wrapper {
    width: 1.125rem;
    height: 1.125rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-filters__check-icon {
    fill: var(--md-sys-color-on-secondary-container);

}

/* ------------------------------ */
/* CLEAR COMPLETED */
/* ------------------------------ */

.todo-clear {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10.5rem;
    height: 3rem;
}

.todo-clear__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.625rem 1rem;
    gap: 0.5rem;

    border-radius: 6.25rem;
    border: 1px solid var(--md-sys-color-outline-variant);

    cursor: pointer;

    background: none;
    color: var(--md-sys-color-on-surface-variant);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    position: relative;
    overflow: hidden;
}

.todo-clear__button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}


.todo-clear__button:hover::before {
    opacity: 0.08;
    background: var(--md-sys-color-on-surface-variant);
}

.todo-clear__button:focus-within::before {
    opacity: 0.10;
    background: var(--md-sys-color-on-surface-variant);
}

