:root[data-theme="dark"] {
  --md-sys-color-primary: rgb(119 216 186);
  --md-sys-color-surface-tint: rgb(119 216 186);
  --md-sys-color-on-primary: rgb(0 56 43);
  --md-sys-color-primary-container: rgb(76 175 147);
  --md-sys-color-on-primary-container: rgb(0 62 48);
  --md-sys-color-secondary: rgb(186 202 194);
  --md-sys-color-on-secondary: rgb(37 51 46);
  --md-sys-color-secondary-container: rgb(132 148 141);
  --md-sys-color-on-secondary-container: rgb(4 18 13);
  --md-sys-color-tertiary: rgb(213 189 239);
  --md-sys-color-on-tertiary: rgb(58 40 80);
  --md-sys-color-tertiary-container: rgb(157 136 183);
  --md-sys-color-on-tertiary-container: rgb(31 13 53);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 4);
  --md-sys-color-error-container: rgb(186 26 26);
  --md-sys-color-on-error-container: rgb(255 205 199);
  --md-sys-color-background: rgb(15 20 18);
  --md-sys-color-on-background: rgb(223 228 224);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(68 72 68);
  --md-sys-color-on-surface-variant: rgb(196 199 195);
  --md-sys-color-outline: rgb(142 146 141);
  --md-sys-color-outline-variant: rgb(68 72 68);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(0 107 85);
  --md-sys-color-primary-fixed: rgb(147 245 214);
  --md-sys-color-on-primary-fixed: rgb(0 32 24);
  --md-sys-color-primary-fixed-dim: rgb(119 216 186);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 64);
  --md-sys-color-secondary-fixed: rgb(213 230 222);
  --md-sys-color-on-secondary-fixed: rgb(16 30 25);
  --md-sys-color-secondary-fixed-dim: rgb(186 202 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 74 68);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(36 18 58);
  --md-sys-color-tertiary-fixed-dim: rgb(213 189 239);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 62 104);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 57);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(42 42 42);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}
