:root[data-theme="light"] {
  --md-sys-color-primary: rgb(0 107 85);
  --md-sys-color-surface-tint: rgb(0 107 85);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(76 175 147);
  --md-sys-color-on-primary-container: rgb(0 62 48);
  --md-sys-color-secondary: rgb(80 95 89);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(104 120 113);
  --md-sys-color-on-secondary-container: rgb(245 255 249);
  --md-sys-color-tertiary: rgb(103 83 127);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(128 108 153);
  --md-sys-color-on-tertiary-container: rgb(255 251 255);
  --md-sys-color-error: rgb(147 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(186 26 26);
  --md-sys-color-on-error-container: rgb(255 205 199);
  --md-sys-color-background: rgb(246 250 246);
  --md-sys-color-on-background: rgb(24 29 27);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(224 227 222);
  --md-sys-color-on-surface-variant: rgb(68 72 68);
  --md-sys-color-outline: rgb(116 120 116);
  --md-sys-color-outline-variant: rgb(196 199 195);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(119 216 186);
  --md-sys-color-primary-fixed: rgb(147 245 214);
  --md-sys-color-on-primary-fixed: rgb(0 32 24);
  --md-sys-color-primary-fixed-dim: rgb(119 216 186);
  --md-sys-color-on-primary-fixed-variant: rgb(0 81 64);
  --md-sys-color-secondary-fixed: rgb(213 230 222);
  --md-sys-color-on-secondary-fixed: rgb(16 30 25);
  --md-sys-color-secondary-fixed-dim: rgb(186 202 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 74 68);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(36 18 58);
  --md-sys-color-tertiary-fixed-dim: rgb(213 189 239);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 62 104);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
