:root[data-theme="dark-high-contrast"] {
  --md-sys-color-primary: rgb(181 255 229);
  --md-sys-color-surface-tint: rgb(119 216 186);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(115 212 182);
  --md-sys-color-on-primary-container: rgb(0 14 9);
  --md-sys-color-secondary: rgb(227 244 235);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(182 198 190);
  --md-sys-color-on-secondary-container: rgb(2 14 9);
  --md-sys-color-tertiary: rgb(248 236 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(209 185 235);
  --md-sys-color-on-tertiary-container: rgb(19 2 41);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 0);
  --md-sys-color-background: rgb(15 20 18);
  --md-sys-color-on-background: rgb(223 228 224);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 72 68);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(238 241 236);
  --md-sys-color-outline-variant: rgb(192 195 191);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 82 65);
  --md-sys-color-primary-fixed: rgb(147 245 214);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(119 216 186);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 15);
  --md-sys-color-secondary-fixed: rgb(213 230 222);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 202 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(6 20 15);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(213 189 239);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 7 47);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(81 80 79);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(32 31 31);
  --md-sys-color-surface-container: rgb(49 48 48);
  --md-sys-color-surface-container-high: rgb(60 59 59);
  --md-sys-color-surface-container-highest: rgb(71 70 70);
}
