/* Dark medium-contrast: brightens core roles to improve legibility on dark surfaces. */
:root[data-theme="dark-medium-contrast"] {
  --md-sys-color-primary: rgb(141 239 208);
  --md-sys-color-surface-tint: rgb(119 216 186);
  --md-sys-color-on-primary: rgb(0 44 33);
  --md-sys-color-primary-container: rgb(76 175 147);
  --md-sys-color-on-primary-container: rgb(0 21 15);
  --md-sys-color-secondary: rgb(207 224 216);
  --md-sys-color-on-secondary: rgb(26 41 35);
  --md-sys-color-secondary-container: rgb(132 148 141);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(233 212 255);
  --md-sys-color-on-tertiary: rgb(47 29 69);
  --md-sys-color-tertiary-container: rgb(157 136 183);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 18);
  --md-sys-color-on-background: rgb(223 228 224);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 72 68);
  --md-sys-color-on-surface-variant: rgb(218 221 216);
  --md-sys-color-outline: rgb(175 179 174);
  --md-sys-color-outline-variant: rgb(142 145 141);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(42 42 42);
  --md-sys-color-inverse-primary: rgb(0 82 65);
  --md-sys-color-primary-fixed: rgb(147 245 214);
  --md-sys-color-on-primary-fixed: rgb(0 21 15);
  --md-sys-color-primary-fixed-dim: rgb(119 216 186);
  --md-sys-color-on-primary-fixed-variant: rgb(0 62 49);
  --md-sys-color-secondary-fixed: rgb(213 230 222);
  --md-sys-color-on-secondary-fixed: rgb(6 20 15);
  --md-sys-color-secondary-fixed-dim: rgb(186 202 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 57 52);
  --md-sys-color-tertiary-fixed: rgb(238 220 255);
  --md-sys-color-on-tertiary-fixed: rgb(25 7 47);
  --md-sys-color-tertiary-fixed-dim: rgb(213 189 239);
  --md-sys-color-on-tertiary-fixed-variant: rgb(64 46 87);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(7 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 40);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
