/* Clear completed and clear all buttons */

.todo-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: auto;
    min-width: 0;
    height: 3rem;
    flex-shrink: 0;
}

.todo-clear__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0.625rem 0.875rem;
    gap: 0.5rem;

    border-radius: 6.25rem;
    border: 1px solid var(--md-sys-color-outline-variant);

    cursor: pointer;

    background: none;
    color: var(--md-sys-color-on-surface-variant);

    font: var(--md-text-label-large);
    letter-spacing: var(--md-text-label-large-letter-spacing);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.todo-clear__button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
}


.todo-clear__button:hover::before {
    opacity: 0.08;
    background: var(--md-sys-color-on-surface-variant);
}

.todo-clear__button:focus-within::before {
    opacity: 0.10;
    background: var(--md-sys-color-on-surface-variant);
}
